<%# <form action= users_path method="post" accept-charset="UTF-8"> %>
  <%# <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %><%#%"> %>
  <%# <label for="username">Username</label>
  <input type="text" name="user[username]" id="username" placeholder="username">
  <label for="email">Email</label>
  <input type="email" name="user[email]" id="email" placeholder="email">
  <label for="password">username</label>
  <input type="password" name="user[password]" id="password" placeholder="password">
  <input type="submit" value="submit">
</form> %>

<%# <%= form_tag(users_path, method: "post") do %> <%#%%>
  <%# <%= label_tag(:username, "username") %> <%#%>
  <%# <%= text_field_tag(:username) %> <%#%>
  <%# <%= label_tag(:email, "email") %> <%#%>
  <%# <%= email_field_tag(:email) %> <%#%>
  <%# <%= label_tag(:password, "password") %> <%#%>
  <%# <%= password_field_tag(:password) %> <%#%>
  <%# <%= submit_tag("create user") %> <%#%>
<%# <% end %> <%#%>
<ul>
<% errors(@user).each do |msg| %>
  
    <li>
      <%= msg %>
    </li>
<% end %>
</ul>

<%= form_for @user do |f|%>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Create" %>
<% end %>

<h1>Here are a list of all users: </h1>
<div class="flex">
  <% users_array(@users).each do |user| %>
    <p class=''> <%= user.username%> </p>
    
    <%= link_to 'Edit profile', edit_user_path(user.id) %>
    <%= link_to 'Show profile', user_path(user.id) %>

  <% end %>
</div>